.message_box_container {
    display: grid;
    place-items: center;
    position: relative;
    z-index: 2;
    background-repeat: no-repeat;
    background-size: cover;
    h1{
        font-weight: 700;
        font-size: 1.62rem;
        line-height: 1.68rem;
    }
}