.faq {
  padding: 0 14.5px;
  position: relative;
  &::before {
    width: 76%;
    background-image: url(assets/images/mobile/faq_eclipse_mob.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: -50px;
    left: 12%;
    right: 0;
    bottom: 50px;
    content: "";
    z-index: 0;
    filter: blur(50px);
    scale: 1.3;
  }
}

.faq_container {
  position: relative;
}

.faq_container {
  .message_box_container {
    width: 250px;
    height: 120px;
    background-image: url(assets/images/mobile/msg_box_faq_mob.svg);
    h1 {
      font-size: 1.31rem;
      max-width: 208px;
    }
  }
}

.accordion_container {
  padding-top: 10px;
  display: grid;
  gap: 10px;
  position: relative;
  z-index: 2;
}
