@use  '../../css/variables.scss' as v;

.hero {
    margin-top: -(v.$NavBar-height);        
}

.hero_logo {
    width: 100%;
}

.container_hero{
    position: relative;
    display: grid;
    &::before {
        width: 385px;
        height: 385px;
        background-image: url(public/assets/images/hero_ellipse.svg);
        background-repeat: no-repeat;
        /* background-size: cover; */
        position: absolute;
        // top: -192px;
        // left: -92px;
        content: "";
        z-index: 0;
        filter: blur(10px);
    }
}

.hero_images {
    z-index: 2;
}


.hero_info{
    padding: 0 14.5px;
    height: min-content;
    margin-top: -50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero_title {
    h1{
        font-size: 1.9rem ;
        font-weight: 800;
    }    
}


.hero_text {
    p {
        font-size: 1rem;
        font-weight: 400;
        line-height: 19.2px;
    }
    span {
        font-weight: 700;
    }    
}

.hero_text_desktop {
    display: none;
}






//BALLS
.ball_icon {
    position: absolute;
}

.ball_3 {
    left: 0;
    top: 220px;
}

.ball_5{    
    right: 0;
    top: 100px;
}

.ball_8{
    right: 20px;
    top: 320px;
}