@use 'variables' as v;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
:root {
  font-family: 'Inter', sans-serif;
}
#root,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  color: v.$text-color;
  background-color: v.$BG-main-color;
}
