.conditions {
  padding: 0 14.5px;
  position: relative;
}
.conditions_container,
.conditions_text,
.conditions_btn_container {
  position: relative;
}
.conditions {
  &::before {
    width: 236px;
    height: 236px;
    background-image: url(assets/images/mobile/generic_ellipse_mob.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: -50px;
    content: "";
    z-index: 0;
    filter: blur(60px);
  }
}

.conditions_container {
  .message_box_container {
    background-image: url(assets/images/mobile/msg_box_conditions_mob.svg);
    width: 231px;
    height: 85px;
    h1 {
      font-size: 1.31rem;
    }
  }
}

.conditions_text {
  z-index: 2;
}

.condtions_list {
  display: grid;
  .list_item {
    padding: 4px;
    align-items: center;
    gap: 20px;
    p {
      font-size: 1rem;
      line-height: 1.3rem;
    }
  }
}

.conditions_btn_container {
  padding: 45px 0;
  z-index: 2;
}

.conditions_buy_btn {
  cursor: pointer;
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 16px;
  box-shadow: 0px 16.34482765197754px 21.793102264404297px 0px #9b0a50;
  background: linear-gradient(to right, #fecc00, #fea800);
  color: #3f015c;
  font-weight: 700;
  font-size: 1rem;
  font-family: Inter;
}
