.conditions {   
    padding: 0 14.5px;
}
.container_conditions, .conditions_icon, .conditions_text, .conditions_btn_container{
    position: relative;
}
.container_conditions {    
    &::before {
        width: 236px;
        height: 236px;
        background-image: url(public/assets/images/hero_ellipse.svg);
        background-repeat: no-repeat;
        /* background-size: contain; */
        position: absolute;
        /* top: -50px; */
        /* left: -20px; */
        content: "";
        z-index: 0;
        filter: blur(30px);
    }
}

// .conditions_icon {
//     width: 231px;
//     height: 85px;
//     display: grid;
//     place-items: center;
//     h1{
//         font-weight: 700;
//         font-size: 1.62rem;
//         line-height: 1.68rem;
//     }
// }
.container_conditions {
    .message_box_container {
        width: 231px;
        height: 85px;
    }
}

.conditions_text {
    z-index: 2;
}

.condtions_list {
    display: grid;
}

.condtions_list_item {
    padding: 4px;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 20px;
    p{
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.3rem;
    }
}


.conditions_btn_container {
    padding: 45px 0;
    z-index: 2;
}

.conditions_buy_btn {
    
   width: 100%;
   height: 50px;
   border: none;
   border-radius: 16px;
   box-shadow: 0px 16.34482765197754px 21.793102264404297px 0px #9B0A50;
   background: linear-gradient(to right, #FECC00,#FEA800 );
   color: #3F015C;
   font-weight: 700;
   font-size: 1rem;
   font-family: Inter;
   
}





// .condtions_list {
//     padding-left:14.5px;
//     list-style-image: url(public/assets/images/bullet_icon.svg);
//     // list-style-position: inside;
//     p{
//         font-weight: 400;
//         font-size: 1rem;
//         line-height: 1.3rem;
//     }
//     li{
//         // list-style: none;
//         // padding-left: 20px;
//         &::marker {
//             // content:"•";
//             // list-style-type: disc;
//             // font-size: 2rem;
//         }
//     }
// }